@use 'styles/utils';

// inline-flex ✓
// items-center ✓
// justify-center ✓
// whitespace-nowrap ✓
// rounded-md ~
// text-sm ✓
// font-medium ✓
// transition-colors ✓
// focus-visible:outline-none ✓
// focus-visible:ring-1 ~
// focus-visible:ring-ring ✓
// disabled:pointer-events-none ✓
// disabled:opacity-50 ✓
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: var(--rounded-2xl);
    font-weight: var(--font-medium);
    white-space: nowrap;
    color: inherit;
    user-select: none;
    cursor: pointer;

    @include utils.text-sm;
    @include utils.transition-colors;

    &:focus-visible {
        outline: none;

        @include utils.compose-ring {
            @include utils.ring-2;
            @include utils.ring-offset-2;
            @include utils.ring-ring;
        }
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

// bg-primary ✓
// text-primary-foreground ✓
// shadow ✓
// hover:bg-primary/90 ✓
.btnDefaultVariant {
    background-color: hsl(var(--col-primary));
    box-shadow: var(--shadow);
    color: hsl(var(--col-primary-foreground));

    &:hover {
        background-color: hsl(var(--col-primary) / 0.9);
    }
}

// bg-destructive ✓
// text-destructive-foreground ✓
// shadow-sm ✓
// hover:bg-destructive/90 ✓
.btnDestructiveVariant {
    background-color: hsl(var(--col-destructive));
    box-shadow: var(--shadow-sm);
    color: hsl(var(--col-destructive-foreground));

    &:hover {
        background-color: hsl(var(--col-destructive) / 0.9);
    }
}

// border ✓
// border-input ✓
// bg-background ✓
// shadow-sm ✓
// hover:bg-accent ✓
// hover:text-accent-foreground ✓
.btnOutlineVariant {
    background-color: hsl(var(--col-background));
    border-width: var(--border);
    border-color: hsl(var(--col-input));
    box-shadow: var(--shadow-sm);

    &:hover {
        background-color: hsl(var(--col-accent));
        color: hsl(var(--col-accent-foreground));
    }
}

// bg-secondary ✓
// text-secondary-foreground ✓
// shadow-sm ✓
// hover:bg-secondary/80 ✓
.btnSecondaryVariant {
    background-color: hsl(var(--col-secondary));
    box-shadow: var(--shadow-sm);
    color: hsl(var(--col-secondary-foreground));

    &:hover {
        background-color: hsl(var(--col-secondary) / 0.8);
    }
}

// hover:bg-accent ✓
// hover:text-accent-foreground ✓
.btnGhostVariant {
    &:hover {
        background-color: hsl(var(--col-accent));
        color: hsl(var(--col-accent-foreground));
    }
}

// text-primary ✓
// underline-offset-4 ✓
// hover:underline ✓
.btnLinkVariant {
    color: hsl(var(--col-primary));
    text-underline-offset: var(--underline-offset-4);

    &:hover {
        text-decoration: underline;
    }
}

// h-9 ✓
// px-4 ✓
// py-2 ✓
.btnDefaultSize {
    height: var(--h-9);
    padding-block: var(--p-2);
    padding-inline: var(--p-4);
}

// h-8 ✓
// rounded-md ~
// px-3 ✓
// text-xs ✓
.btnSmSize {
    height: var(--h-8);
    padding-inline: var(--p-3);
    border-radius: var(--rounded-2xl);

    @include utils.text-xs;
}

// h-10 ✓
// rounded-md ~
// px-8 ✓
.btnLgSize {
    height: var(--h-10);
    padding-inline: var(--p-8);
    border-radius: var(--rounded-2xl);
}

// h-9 ✓
// w-9 ✓
.btnIconSize {
    aspect-ratio: 1;
    width: var(--w-9);
}
