@use 'styles/utils';
@use 'styles/utils/media' as *;

$default-scroll-margin: 5rem; /* 80px */
$default-flow-spacer: 1.5em;

.typography > * + * {
    margin-block-start: var(--flow-spacer, $default-flow-spacer);
}

// scroll-m-20 ✓
// text-4xl ✓
// font-extrabold ✓
// tracking-tight ✓
// lg:text-5xl ✓
.heading1 {
    scroll-margin: $default-scroll-margin;
    font-weight: var(--font-extrabold);
    letter-spacing: var(--tracking-tight);

    @include utils.text-4xl;

    @include lg {
        @include utils.text-5xl;
    }
}

// scroll-m-20 ✓
// border-b ×
// pb-2 ×
// text-3xl ✓
// font-semibold ✓
// tracking-tight ✓
// first:mt-0 ✓
.heading2 {
    scroll-margin: $default-scroll-margin;
    font-weight: var(--font-semibold);
    letter-spacing: var(--tracking-tight);

    @include utils.text-3xl;

    &:first-child {
        margin-block-start: var(--m-0);
    }
}

// scroll-m-20 ✓
// text-2xl ✓
// font-semibold ✓
// tracking-tight ✓
.heading3 {
    scroll-margin: $default-scroll-margin;
    font-weight: var(--font-semibold);
    letter-spacing: var(--tracking-tight);

    @include utils.text-2xl;
}

// scroll-m-20 ✓
// text-xl ✓
// font-semibold ✓
// tracking-tight ✓
.heading4 {
    scroll-margin: $default-scroll-margin;
    font-weight: var(--font-semibold);
    letter-spacing: var(--tracking-tight);

    @include utils.text-xl;
}

// leading-7 ✓
// [&:not(:first-child)]:mt-6 ~
.paragraph {
    line-height: var(--leading-7);

    :where(&:not(:first-child)) {
        margin-block-start: var(--m-6);
    }
}

// mt-6 ✓
// border-l-2 ✓
// pl-6 ✓
// italic ✓
.blockquote {
    margin-block-start: var(--m-6);
    padding-inline-start: var(--p-6);
    border-left-width: var(--border-2);
    font-style: italic;
}

// border ✓
// px-4 ✓
// py-2 ✓
// text-left ✓
// [&[align=center]]:text-center ✓
// [&[align=right]]:text-right ✓
.th,
.td {
    padding-block: var(--p-2);
    padding-inline: var(--p-4);
    border-width: var(--border);
    text-align: left;

    &[align='center'] {
        text-align: center;
    }

    &[align='right'] {
        text-align: right;
    }
}

// font-bold ✓
.th {
    font-weight: var(--font-bold);
}

// my-6 ✓
// ml-6 ✓
// list-disc ✓
.list {
    margin-block: var(--m-6);
    margin-inline-start: var(--m-6);
    list-style: disc;
}

// [&>li]:mt-2 ~
.listItem {
    :where(&:not(:first-child)) {
        margin-block-start: var(--m-2);
    }
}

// relative ✓
// rounded ~
// bg-muted ✓
// px-[0.3rem] ✓
// py-[0.2rem] ✓
// font-mono ✓
// text-sm ✓
// font-semibold ✓
.inlineCode {
    $padding-block: 0.2rem;
    $padding-inline: 0.3rem;

    position: relative;
    display: inline-block;
    padding-block: $padding-block;
    padding-inline: $padding-inline;
    background-color: hsl(var(--col-muted));
    border-radius: var(--rounded-sm);
    font-family: var(--font-mono);
    font-weight: var(--font-semibold);

    @include utils.text-sm;
}

// text-xl ✓
// text-muted-foreground ✓
.lead {
    color: hsl(var(--col-muted-foreground));

    @include utils.text-xl;
}

// text-lg ✓
// font-semibold ✓
.large {
    font-weight: var(--font-semibold);

    @include utils.text-lg;
}

// text-sm ✓
// font-medium ✓
// leading-none ✓
.small {
    display: inline-block;
    font-weight: var(--font-medium);

    @include utils.text-sm;

    line-height: var(--leading-none);
}

// text-sm ✓
// text-muted-foreground ✓
.muted {
    color: hsl(var(--col-muted-foreground));

    @include utils.text-sm;
}
