@use 'styles/utils';
@use 'styles/utils/media' as *;

$page-offset: var(--m-10);
$page-lg-offset: 5rem; /* 80px */

.main {
    min-height: var(--h-screen);
}

.container {
    margin-block: $page-offset;

    @include utils.container(var(--container-md));

    @include lg {
        margin-block: $page-lg-offset;
    }
}

.article p,
.article li {
    text-align: justify;
}
