@use 'styles/utils';
@use 'styles/utils/media' as *;

// fixed ✓
// inset-0 ✓
// z-50 ~
// bg-black/80 ✓
// data-[state=open]:animate-in ✓
// data-[state=closed]:animate-out ✓
// data-[state=closed]:fade-out-0 ✓
// data-[state=open]:fade-in-0 ✓
.overlay {
    position: fixed;
    inset: var(--inset-0);
    background-color: hsl(var(--col-black) / 0.8);
    z-index: var(--z-modal);

    &[data-state='open'] {
        animation: var(--overlay-in);
    }

    &[data-state='closed'] {
        animation: var(--overlay-out);
    }
}

// fixed ✓
// left-[50%] ✓
// top-[50%] ✓
// z-50 ~
// grid ✓
// w-full ✓
// max-w-lg ✓
// translate-x-[-50%] ✓
// translate-y-[-50%] ✓
// gap-4 ✓
// border ✓
// bg-background ✓
// p-6 ✓
// shadow-lg ✓
// duration-200 ✓
// data-[state=open]:animate-in ✓
// data-[state=closed]:animate-out ✓
// data-[state=closed]:fade-out-0 ✓
// data-[state=open]:fade-in-0 ✓
// data-[state=closed]:zoom-out-95 ✓
// data-[state=open]:zoom-in-95 ✓
// data-[state=closed]:slide-out-to-left-1/2 ×
// data-[state=closed]:slide-out-to-top-[48%] ✓
// data-[state=open]:slide-in-from-left-1/2 ×
// data-[state=open]:slide-in-from-top-[48%] ✓
// sm:rounded-lg ~
.content {
    $duration: 200ms;

    position: fixed;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    display: grid;
    gap: var(--gap-4);
    width: var(--w-full);
    max-width: var(--max-w-lg);
    padding: var(--p-6);
    background-color: hsl(var(--col-background));
    border-width: var(--border);
    box-shadow: var(--shadow-lg);
    user-select: none;
    translate: -50% -50%;
    transition-duration: $duration;
    z-index: var(--z-modal);

    @include sm {
        border-radius: var(--rounded-3xl);
    }

    &[data-state='open'] {
        animation: var(--modal-in);
    }

    &[data-state='closed'] {
        animation: var(--modal-out);
    }
}

// absolute ✓
// right-4 ✓
// top-4 ✓
// rounded-sm ~
// opacity-70 ✓
// ring-offset-background ✓
// transition-opacity ✓
// hover:opacity-100 ✓
// focus:outline-none ✓
// focus:ring-2 ✓
// focus:ring-ring ✓
// focus:ring-offset-2 ✓
// disabled:pointer-events-none ✓
// data-[state=open]:bg-accent ✓
// data-[state=open]:text-muted-foreground ✓
.close {
    $offset: 1rem; /* 16px */

    position: absolute;
    inset-block-start: $offset;
    inset-inline-end: $offset;
    padding: var(--p-0);
    border-radius: var(--rounded-xl);
    cursor: pointer;
    opacity: 0.7;

    @include utils.ring-offset-background;
    @include utils.transition-opacity;

    &:hover {
        opacity: 1;
    }

    &:focus {
        outline: none;

        @include utils.compose-ring {
            @include utils.ring-2;
            @include utils.ring-offset-2;
            @include utils.ring-ring;
        }
    }

    &:disabled {
        pointer-events: none;
    }

    [data-state='open'] & {
        background-color: hsl(var(--col-accent));
        color: hsl(var(--col-muted-foreground));
    }
}

// h-4 ✓
// w-4 ✓
.closeIcon {
    aspect-ratio: 1;
    width: var(--w-4);
}

// sr-only ✓
.closeSr {
    @include utils.sr-only;
}

// flex ✓
// flex-col ✓
// space-y-1.5 ✓
// text-center ✓
// sm:text-left ✓
.header {
    $default-flow-spacer: 0.375rem; /* 6px */

    display: flex;
    flex-direction: column;
    text-align: center;

    @include sm {
        text-align: left;
    }

    & > * + * {
        margin-block-start: var(--flow-spacer, $default-flow-spacer);
    }
}

// flex ✓
// flex-col-reverse ✓
// sm:flex-row ✓
// sm:justify-end ✓
// sm:space-x-2 ✓
.footer {
    $default-flow-spacer: 0.375rem; /* 6px */
    $default-sm-flow-spacer: 0.5rem; /* 8px */

    display: flex;
    flex-direction: column-reverse;

    & > * + * {
        margin-block-end: var(--flow-spacer, $default-flow-spacer);
    }

    @include sm {
        flex-direction: row;
        justify-content: flex-end;

        & > * + * {
            margin-block-end: var(--m-0);
            margin-inline-start: var(--flow-spacer, $default-sm-flow-spacer);
        }
    }
}

// text-lg ✓
// font-semibold ✓
// leading-none ✓
// tracking-tight ✓
.title {
    font-weight: var(--font-semibold);
    letter-spacing: var(--tracking-tight);

    @include utils.text-lg;

    line-height: var(--leading-none);
}

// text-sm ✓
// text-muted-foreground ✓
.description {
    color: hsl(var(--col-muted-foreground));

    @include utils.text-sm;
}
