$min-content-height: calc(var(--h-screen) - var(--header-height));

.main {
    min-height: $min-content-height;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: $min-content-height;
}
