:root {
    /* Container */
    --container-sm: 640px;
    --container-md: 768px;
    --container-lg: 1024px;
    --container-xl: 1280px;
    --container-2xl: 1536px;

    /* Placement */
    --inset-0: 0;

    /* z-index */
    --z-hide: -1;
    --z-base: 0;
    --z-docked: 10;
    --z-dropdown: 1000;
    --z-sticky: 1100;
    --z-banner: 1200;
    --z-overlay: 1300;
    --z-modal: 1400;
    --z-popover: 1500;
    --z-skipLink: 1600;
    --z-toast: 1700;
    --z-tooltip: 1800;
    --z-auto: auto;

    /* Gap */
    --gap-0: 0;
    --gap-px: 1px;
    --gap-0-5: 0.125rem; /* 2px */
    --gap-1: 0.25rem; /* 4px */
    --gap-1-5: 0.375rem; /* 6px */
    --gap-2: 0.5rem; /* 8px */
    --gap-2-5: 0.625rem; /* 10px */
    --gap-3: 0.75rem; /* 12px */
    --gap-3-5: 0.875rem; /* 14px */
    --gap-4: 1rem; /* 16px */
    --gap-5: 1.25rem; /* 20px */
    --gap-6: 1.5rem; /* 24px */
    --gap-7: 1.75rem; /* 28px */
    --gap-8: 2rem; /* 32px */
    --gap-9: 2.25rem; /* 36px */
    --gap-10: 2.5rem; /* 40px */

    /* Padding */
    --p-0: 0;
    --p-px: 1px;
    --p-0-5: 0.125rem; /* 2px */
    --p-1: 0.25rem; /* 4px */
    --p-1-5: 0.375rem; /* 6px */
    --p-2: 0.5rem; /* 8px */
    --p-2-5: 0.625rem; /* 10px */
    --p-3: 0.75rem; /* 12px */
    --p-3-5: 0.875rem; /* 14px */
    --p-4: 1rem; /* 16px */
    --p-5: 1.25rem; /* 20px */
    --p-6: 1.5rem; /* 24px */
    --p-7: 1.75rem; /* 28px */
    --p-8: 2rem; /* 32px */
    --p-9: 2.25rem; /* 36px */
    --p-10: 2.5rem; /* 40px */

    /* Margin */
    --m-0: 0;
    --m-px: 1px;
    --m-0-5: 0.125rem; /* 2px */
    --m-1: 0.25rem; /* 4px */
    --m-1-5: 0.375rem; /* 6px */
    --m-2: 0.5rem; /* 8px */
    --m-2-5: 0.625rem; /* 10px */
    --m-3: 0.75rem; /* 12px */
    --m-3-5: 0.875rem; /* 14px */
    --m-4: 1rem; /* 16px */
    --m-5: 1.25rem; /* 20px */
    --m-6: 1.5rem; /* 24px */
    --m-7: 1.75rem; /* 28px */
    --m-8: 2rem; /* 32px */
    --m-9: 2.25rem; /* 36px */
    --m-10: 2.5rem; /* 40px */
    --m-auto: auto;

    /* Width */
    --w-0: 0;
    --w-px: 1px;
    --w-0-5: 0.125rem; /* 2px */
    --w-1: 0.25rem; /* 4px */
    --w-1-5: 0.375rem; /* 6px */
    --w-2: 0.5rem; /* 8px */
    --w-2-5: 0.625rem; /* 10px */
    --w-3: 0.75rem; /* 12px */
    --w-3-5: 0.875rem; /* 14px */
    --w-4: 1rem; /* 16px */
    --w-5: 1.25rem; /* 20px */
    --w-6: 1.5rem; /* 24px */
    --w-7: 1.75rem; /* 28px */
    --w-8: 2rem; /* 32px */
    --w-9: 2.25rem; /* 36px */
    --w-10: 2.5rem; /* 40px */
    --w-auto: auto;
    --w-full: 100%;
    --w-screen: 100vw;

    /* Max width */
    --max-w-none: none;
    --max-w-xs: 20rem; /* 320px */
    --max-w-sm: 24rem; /* 384px */
    --max-w-md: 28rem; /* 448px */
    --max-w-lg: 32rem; /* 512px */
    --max-w-xl: 36rem; /* 576px */
    --max-w-2xl: 42rem; /* 672px */
    --max-w-3xl: 48rem; /* 768px */
    --max-w-4xl: 56rem; /* 896px */
    --max-w-5xl: 64rem; /* 1024px */
    --max-w-6xl: 72rem; /* 1152px */
    --max-w-7xl: 80rem; /* 1280px */

    /* Height */
    --h-0: 0;
    --h-px: 1px;
    --h-0-5: 0.125rem; /* 2px */
    --h-1: 0.25rem; /* 4px */
    --h-1-5: 0.375rem; /* 6px */
    --h-2: 0.5rem; /* 8px */
    --h-2-5: 0.625rem; /* 10px */
    --h-3: 0.75rem; /* 12px */
    --h-3-5: 0.875rem; /* 14px */
    --h-4: 1rem; /* 16px */
    --h-5: 1.25rem; /* 20px */
    --h-6: 1.5rem; /* 24px */
    --h-7: 1.75rem; /* 28px */
    --h-8: 2rem; /* 32px */
    --h-9: 2.25rem; /* 36px */
    --h-10: 2.5rem; /* 40px */
    --h-auto: auto;
    --h-full: 100%;
    --h-screen: 100vh;

    /* Font weight */
    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    /* Letter spacing */
    --tracking-tighter: -0.05em;
    --tracking-tight: -0.025em;
    --tracking-normal: 0;
    --tracking-wide: 0.025em;
    --tracking-wider: 0.05em;
    --tracking-widest: 0.1em;

    /* Line height */
    --leading-none: 1;
    --leading-tight: 1.25;
    --leading-snug: 1.375;
    --leading-normal: 1.5;
    --leading-relaxed: 1.625;
    --leading-loose: 2;
    --leading-3: 0.75rem; /* 12px */
    --leading-4: 1rem; /* 16px */
    --leading-5: 1.25rem; /* 20px */
    --leading-6: 1.5rem; /* 24px */
    --leading-7: 1.75rem; /* 28px */
    --leading-8: 2rem; /* 32px */
    --leading-9: 2.25rem; /* 36px */
    --leading-10: 2.5rem; /* 40px */

    /* Underline offset */
    --underline-offset-0: 0;
    --underline-offset-1: 1px;
    --underline-offset-2: 2px;
    --underline-offset-4: 4px;
    --underline-offset-8: 8px;
    --underline-offset-auto: auto;

    /* Border width */
    --border-0: 0;
    --border: 1px;
    --border-2: 2px;
    --border-4: 4px;
    --border-8: 8px;
}
