:root {
    /* Colors */
    --col-background: 0 0% 100%;
    --col-foreground: 240 10% 3.9%;

    --col-card: 0 0% 100%;
    --col-card-foreground: 240 10% 3.9%;

    --col-popover: 0 0% 100%;
    --col-popover-foreground: 240 10% 3.9%;

    --col-primary: 142.1 76.2% 36.3%;
    --col-primary-foreground: 355.7 100% 97.3%;

    --col-secondary: 240 4.8% 95.9%;
    --col-secondary-foreground: 240 5.9% 10%;

    --col-muted: 240 4.8% 95.9%;
    --col-muted-foreground: 240 3.8% 46.1%;

    --col-accent: 240 4.8% 95.9%;
    --col-accent-foreground: 240 5.9% 10%;

    --col-destructive: 0 84.2% 60.2%;
    --col-destructive-foreground: 0 0% 98%;

    --col-border: 240 5.9% 90%;
    --col-input: 240 5.9% 90%;
    --col-ring: 142.1 76.2% 36.3%;

    /* Fonts */
    --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;

    /* Border radius */
    --radius: 1;

    --rounded-none: 0;
    --rounded-xs: calc(0.125rem * var(--radius)); /* 2px */
    --rounded-sm: calc(0.25rem * var(--radius)); /* 4px */
    --rounded: calc(0.375rem * var(--radius)); /* 6px */
    --rounded-md: calc(0.5rem * var(--radius)); /* 8px */
    --rounded-lg: calc(0.625rem * var(--radius)); /* 10px */
    --rounded-xl: calc(0.75rem * var(--radius)); /* 12px */
    --rounded-2xl: calc(0.875rem * var(--radius)); /* 14px */
    --rounded-3xl: calc(1rem * var(--radius)); /* 16px */
    --rounded-4xl: calc(1.5rem * var(--radius)); /* 24px */
    --rounded-full: 100vw;

    /* Shadow */
    --shadow-none: 0 0 #0000;
    --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);

    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);

    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);

    --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);

    --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);

    --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);

    /* Animation */
    --accordion-down: accordion-down 0.2s ease-out;
    --accordion-up: accordion-up 0.2s ease-out;
}

.dark {
    --col-background: 20 14.3% 4.1%;
    --col-foreground: 0 0% 95%;

    --col-card: 24 9.8% 10%;
    --col-card-foreground: 0 0% 95%;

    --col-popover: 0 0% 9%;
    --col-popover-foreground: 0 0% 95%;

    --col-primary: 142.1 70.6% 45.3%;
    --col-primary-foreground: 144.9 80.4% 10%;

    --col-secondary: 240 3.7% 15.9%;
    --col-secondary-foreground: 0 0% 98%;

    --col-muted: 0 0% 15%;
    --col-muted-foreground: 240 5% 64.9%;

    --col-accent: 12 6.5% 15.1%;
    --col-accent-foreground: 0 0% 98%;

    --col-destructive: 0 62.8% 30.6%;
    --col-destructive-foreground: 0 85.7% 97.3%;

    --col-border: 240 3.7% 15.9%;
    --col-input: 240 3.7% 15.9%;
    --col-ring: 142.4 71.8% 29.2%;
}
