::-webkit-scrollbar {
    width: var(--w-1-5);
}

::-webkit-scrollbar-track {
    margin-block: var(--m-2-5);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--col-accent-foreground) / 0.4);
    border-radius: var(--rounded-full);

    &:hover {
        background-color: hsl(var(--col-accent-foreground) / 0.6);
    }
}
